@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --white: #ffffff;
    --black: #212429;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
}

nav, footer {
    font-size: 16px;
}

.navbar a {
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px;
}

a:visited {
    color: var(--black);
}

.navbar img {
    padding: 16px;
}

.navbar, .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fullnavbar {
    top: 0;
    position: sticky;
    z-index: 1100;
    background-color: var(--white);
}

h1 {
    text-transform: uppercase;
    font-size: 32px;
    padding: 0px 16px 16px 16px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    gap: 1rem;
    font-size: 14px;
    margin: 2% 15% 2% 15%; 
}

.content div {
    position: relative;
}

.content .card {
    display: block;
    margin: auto;
}

.card img {
    border-radius: 20px;
}

.nombrePrenda {
    display: block;
    float: left;
}

.precio {
    display: block;
    float: right;
    font-weight: Bold;
}

footer {
    background-color: var(--black);
    color: var(--white);
}

footer div {
    display: flex;
    padding: 16px;
    margin: 16px;
}

footer img {
    overflow: visible;
    padding: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--white);
}

@media (max-width: 1280px) {
    .content {
        grid-template-columns: repeat(2, minmax(20rem, 1fr));
    }
}

@media (max-width: 920px) {
    .navbar #textnav, #finalnav{
        display: none;
    }

    .navbar {
        justify-content: center;
    }

    .content {
        grid-template-columns: repeat(1, minmax(20rem, 1fr));
    }

    .footer {
        font-weight: Bold;
        display: grid;
        grid-template-columns: repeat(1, minmax(1rem, 1fr));
    }

    footer div {
        padding: 8px;
        margin: 8px;
    }

    .col-1, .col-2, .col-3, .col-4 {
        border-bottom: 1px solid var(--white);
    }
}
